@model IEnumerable<Book.BL.ReadingEvent>
<h1>Events invited to</h1>
<div class=" ">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Title, "Details", new { @id = item.Id })</li>
        }
    </ul>
</div>
